/* .header {
  padding: 10px;
  background: white;
  text-align: center;
}

.main-content {
  display: flex;
  background: white;
  justify-content: center;
}

.down {
  padding: 10px;
  background: white;
  text-align: center;
} */

